<div class="booyah-box col-10 offset-1">
  <h1>
    <span>Workout of the Day</span>
  </h1>
</div>

<hr>

  <h2><b>300 Kettlebell Workout</b></h2>
  <ol>
    <li>Around the Body Pass</li>
    <li>Halo</li>
    <li>Good Morning</li>
    <li>Windmill</li>
    <li>One Arm Swing</li>
    <li>Swing High Pull</li>
    <li>Snatch</li>
    <li>Clean & Press</li>
    <li>Squat Press Combo</li>
    <li>Reverse Lunge Press</li>
    <li>Deck Squat</li>
    <li>Reverse Turkish Getup</li>
    <li>Suitcase Rows</li>
    <li>Crush Press Situp</li>
    <li>Russian Twist</li>
    <li>Crush Puship</li>
  </ol>

