<div class="booyah-box col-12">
  <h1>
    <span>Workout of the Day</span>
  </h1>
</div>

<hr>

<div class="workout-box col-10 offset-1">
  <h1><%= @workout.exercise %></h1>
  <h2>- <%= @workout.author %></h2>
</div>
<a href="https://www.freepik.com/free-photos-vectors/sport">Sport image created by Snowing - Freepik.com</a>