@import "bootstrap";

.clear {
  clear: both;
}

.booyah-box {
  -moz-box-shadow: 1px 1px 2px 0 #d0d0d0;
  -webkit-box-shadow: 1px 1px 2px 0 #d0d0d0;
  box-shadow: 1px 1px 2px 0 #d0d0d0;
  background: #fff;
  border: 1px solid #ccc;
  border-color: #e4e4e4 #bebebd #bebebd #e4e4e4;
  margin-top: 10px;
  margin-bottom: 15px;
  padding: 20px;
  text-align: center;
  font-weight: bold;
  text-shadow: 2px 2px #ff0000;
}

.navbar {
    text-align:center;
    width: 100%;
    box-shadow: 0px 1px 3px #2a2a2a;
    margin-bottom: 0;
}

.navbar-inverse .navbar-brand {
  color: #FFF;
  font-family: 'chunkfiveroman', sans-serif;
  font-size: 26px;
 }


header {
  border-top: 9px solid #222222;
}

hr {
  clear:both;
}

h1 {
  font-family: 'nobileregular', sans-serif;
  font-weight: bold;
  font-size: 48px;
}

h2 {
  font-family: 'nobilemedium_italic', sans-serif;
}

h1 span {
  color: #ed0713;
  font-family: 'nobileregular', sans-serif;
  text-align: center;
}

.links a {
  color:black;
  font-size: 25px;
  border-bottom: 1px solid #dfdfdf;
}

/*body {
  background: image_url('circuit.png');
}
*/
body {
    font-family: "Open Sans",Helvetica,Arial,sans-serif;
    font-size: 1.4rem;
    line-height: 1.42857;
    color: #1A1A1A;
    /*background-color: #FFF;*/
    /*background: image_url('circuit.png');*/
    background: image_url('223.jpg');
}

.workout-box {
  -moz-box-shadow: 1px 1px 2px 0 #d0d0d0;
  -webkit-box-shadow: 1px 1px 2px 0 #d0d0d0;
  box-shadow: 1px 1px 2px 0 #d0d0d0;
  background: #fff;
  border: 1px solid #ccc;
  border-color: #e4e4e4 #bebebd #bebebd #e4e4e4;
  margin-top: 10px;
  margin-bottom: 15px;
  padding: 20px;
  text-align: center;
  font-weight: bold;
}

.nav-right {
  float: right;
}